<!DOCTYPE html>
<html>
  <head>
    <title>FromaRailsApp20240127</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "sign up", new_user_registration_path %>
          <%= link_to "login", new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <%# flashメッセージ %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# 本体 %>
    <%= yield %>
  </body>
</html>
